{% extends 'portfolio/base.html' %}

{% load static %} 

{% block content %}

    <div class="row justify-content-center my-3">
        <div class="col-md-3 text-center">
            <img src="{% static 'portfolio/556917.jpg' %}" class="img-fluid rounded-circle" id="profile-photo">
        </div>
        <div class="col-md-7 d-flex align-items-center">
            <h1 id="hometext" class="font-italic">I'm working as an Associate at Cognizant, Chennai and lives in Chennai, Tamilnadu. As an Associate at Cognizant, I apply my skills in Python, Django, Flask, FastAPI, AWS cloud and Azure DevOps to develop and deploy web applications for various clients. I work with a team of talented developers and engineers to deliver high-quality solutions that meet the business and technical requirements. I also contribute to the continuous improvement of the codebase, testing, and documentation.</h1>
        </div>
    </div>

    <h2 class="mt-5">Portfolio</h2>
    <hr>
    <div class="row">
    {% for project in projects %}
        <div class="col-lg-4 col-md-6">
            {% if project.url %}
                <a href="{{ project.url }}">
                <img src="{{ project.image.url }}" class="img-fluid mb-2">
                </a>
            {% else %}
                <img src="{{ project.image.url }}" class="img-fluid mb-2">
            {% endif %}

            <h3>{{ project.title }}</h3>
            <p>{{ project.description|truncatechars:150 }}</p>
        </div>
    {% endfor %}
    </div>

{% endblock %}
